.popular {
    margin: 0 200px 250px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popular h1 {
    /* margin-left: 20px; */
    /* margin-bottom: 100px; */
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
}
.popular hr {
    width: 200px;
    height: 1px;
    background-color: #fff;
    border: none;
}

.popular-item {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    row-gap: 120px;
}

.popular-item name {
    font-size: 30px;
}

@media (max-width: 1400px) {
    
}


@media (max-width: 1280px) {
    .popular {
        margin-bottom: 200px;
    }

    .popular h1 {
        margin-bottom: 130px;
        margin-left: 0;
    }

    .popular-item {
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        row-gap: 100px;
    }
}

@media (max-width: 1024px) {
    .popular {
        margin: 0 0 200px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .popular-item {
        grid-template-columns: 1fr;
        row-gap: 120px;
        /* width: 100%; */
    }
}

@media (max-width: 500px) {

}
