/* trend
trend-top || trend-bottom
trend-top__left || trend-top__right
trend-shared */
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending {
    margin: 0 200px 250px 200px;
}
.trending-top {
    justify-content: space-between;
}
/* begin left */
.trending-top {
    /* margin-left: 20px; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.trending-top h1 {
    /* margin-left: 15px; */
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
}
.trending-top hr {
    width: 200px;
    height: 1px;
    background-color: #fff;
    border: none;
}
/* end left */
.trending-bottom {
    margin-top: 100px;
}
.trending-bottom__slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 60px;
}
.button-left,.button-right {
    position: absolute;
}
.button-left {
    left: -60px;
}
.button-right {
    right: -60px;
}
.h1-demo-trending {
    color: red;
}
.trending-bottom__navigation-button {
    margin-left: 30px;
    margin-right: 20px;
    gap: 10px;
}
/* navigation begin */
.trending-bottom__navigation {
    color: #fff;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.trending-bottom__show-all {
    border-radius: 12px;
    background: #333335;
    padding: 10px 20%;
    transition: box-shadow 0.3s ease-in-out;
}
.trending-bottom__show-all:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.trending-bottom__show-all h1 {
    color: #8c8c8e;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}
.trending-bottom__show-all svg {
    width: 18px;
    height: 18px;
    color: #8c8c8e;
    opacity: 0.7;
    transition: color 0.2s ease;
}
/* navigation end */